<ion-header xmlns="http://www.w3.org/1999/html">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meus Chamados</ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-header>
    <ion-navbar>
      <ion-title>Chamados realizados por você</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content padding>
    <form #formEditar="ngForm">
      <ion-card *ngFor="let chamado of chamados">
        <img src="{{ chamado.foto }}"/>
        <ion-card-content>
          <p *ngIf="!chamado.foto"> Não possui imagem cadastrada</p>
          <p>Serviço: {{ chamado.servico.nomeServico }}</p>
          <p>Predio: {{ chamado.predio.nomePredio }}</p>
          <p>sala: {{ chamado.sala.nomeSala }}</p>
          <p>status: {{ chamado.statusChamado.nomeStatus }}</p>
          <button  ion-button color="primary" [disabled]="chamado.statusChamado.idStatus != 1" (click)="showPrompt(chamado)" block type="submit">Opções</button>
        </ion-card-content>
      </ion-card>
    </form>
  </ion-content>
